<div class="pe-4 ps-4">
    <form [formGroup]="eanScan">
  <label class="fw-semibold mt-0 fs-5 ms-5 mt-2">
    EAN Code <span style="color: #f36270;">Scan</span>
  </label>

  <div class="mt-2 ms-5 me-5 card p-4 shadow">
    
    <!-- Row for 6 + 6 split -->
    <div class="row">
      
      <!-- Left Side: PO Item Scan -->
      <div class="col-lg-5 col-md-12 mb-3 ">
   <label class="fw-semibold mt-0 fs-5 ms-0">Item Scan</label>
<div class="border rounded p-3">
    <!-- Item -->
    <div class="mb-3">
      <label for="item" class="form-label fw-semibold">Product Name / Code</label>
      <input type="text" id="item" class="form-control2" formControlName="productName" placeholder="Type to search product">
    </div>

    <!-- Serial No -->
    <div class="mb-3">
      <label for="serialNo" class="form-label fw-semibold">EAN Code</label>
      <input type="text" id="serialNo" class="form-control2" formControlName="eanCode" placeholder="Scan EAN Code">
    </div>

   

    <div class="row">
      <!-- Done Button on Left -->
      <div class="col-6 d-flex justify-content-start">
        <button type="button" class="btn btn-secondary">Done!</button>
        </div>


      <!-- Next Button on Right -->
      <div class="col-6 d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
      </div>
    </div>




<div class="border rounded p-3 mt-3">
  <!-- Counts Row -->
 
    <div class="row col-12">
      <label class="mb-1 mt-2 text-success">Total Scanned Items</label>
    </div>

 
</div>






    </div>

    
      

      <!-- Right Side: PO Item List -->
   
<div class="col-lg-7 col-md-12 mb-3">
 <label class="fw-semibold mt-0 fs-5 ms-0">Scanned Items List</label>
  <div class="border rounded p-0"> <!-- remove inner padding -->

<div class="table-responsive p-3">
      <table class="table table-bordered  mb-0">
        <thead class="table-light">
          <tr class="text-start">
            <th>Product Code & Description</th>
            <th>EAN</th>
            <th></th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1001</td>
            <td>Item A</td>
            <td class="text-center">
           <button class="btn btn-sm" 
                style="background-color: #f36270; color: white;"
                (click)="onDelete()">
        <i class="bi bi-trash"></i>
        </button>

            </td>           
          </tr>
          
        </tbody>
      </table>
    </div>

  </div>
</div>


      

    </div>


  </div>
  </form>
</div>