<div>
  <label class="fw-bold mt-3 fs-5 ms-7">Article Master</label>
</div>



    <div class="card shadow-sm ms-8 mt-4 me-8">
        <div class="card-body">

  <!-- Top Buttons -->
  <div *ngIf="show" class="d-flex flex-wrap justify-content-between align-items-center mb-3 gap-2">
    <div>
      <button type="button" class="btn btn-outline-primary" (click)="onAddUserClick()">
        <i class="mdi mdi-plus"></i> Add Article
      </button>
    </div>
    <div class="d-flex flex-wrap gap-2">
      <button type="button" class="btn btn-outline-secondary">
        <i class="mdi mdi-export"></i> Export
      </button>
      <button type="button" class="btn btn-outline-secondary">
        <i class="mdi mdi-printer"></i> Print
      </button>
      <!-- <button *ngIf="!showSearch" type="button" class="btn btn-primary" (click)="toggleSearch($event)">
          <i class="mdi mdi-magnify"></i>
        </button> -->
      <!-- Search toggle -->
      <ng-container>
        <button *ngIf="!showSearch" type="button" class="btn btn-primary" (click)="toggleSearch($event)">
          <i class="mdi mdi-magnify"></i>
        </button>

        <input *ngIf="showSearch" type="text" class="d-inline-block" style="width:200px;" placeholder="Search..."
          (click)="$event.stopPropagation()" (blur)="closeSearch()" />
      </ng-container>
    </div>
  </div>

  <!-- Add User Form -->
  <div *ngIf="showAddArticleForm">
    <!-- <h6 class="fw-bold mb-3">Add User</h6> -->
    <div class="bg-light fw-semibold px-3 py-2 mb-4 border-bottom">
      Add Article
    </div>
    <form [formGroup]="materialForm" (ngSubmit)="onSubmit()">

      <!-- New Material Code -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">New Material Code*</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="newMaterialCode">
          <div *ngIf="submitted && f.newMaterialCode.errors" class="text-danger small">
            New Material Code is required
          </div>
        </div>
      </div>

      <!-- Material Description -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Material Description*</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="materialDescription">
          <div *ngIf="submitted && f.materialDescription.errors" class="text-danger small">
            Material Description is required
          </div>
        </div>
      </div>

      <!-- Old Material Code -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Old Material Code*</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="oldMaterialCode">
          <div *ngIf="submitted && f.oldMaterialCode.errors" class="text-danger small">
            Old Material Code is required
          </div>
        </div>
      </div>

      <!-- Serial Profile -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Serial Profile</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="serialProfile">
        </div>
      </div>

      <!-- Existing EAN Code -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Existing EAN Code</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="eanCode">
        </div>
      </div>

      <!-- Material Type -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Material Type</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="materialType">
        </div>
      </div>

      <!-- Merchant Category -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Merchant Category</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="merchantCategory">
        </div>
      </div>

      <!-- Brand -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Brand</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="brand">
        </div>
      </div>

      <!-- UOM -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">Uom</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="uom">
        </div>
      </div>

      <!-- OTC / Non OTC -->
      <div class="row mb-3">
        <label class="col-md-3 col-form-label fw-semibold">OTC / Non OTC</label>
        <div class="col-md-9">
          <select class="form-select" formControlName="otcType">
            <option value="" disabled>Select Option</option>
            <option value="OTC">OTC</option>
            <option value="Non-OTC">Non OTC</option>
          </select>
        </div>
      </div>

      <!-- Buttons -->
      <div class="row mt-4">
        <div class="col-12 d-flex gap-2">
          <button type="submit" class="btn btn-success">
            <i class="bi bi-check2"></i> Save
          </button>
          <button type="button" class="btn btn-info text-white" (click)="onSaveAndBack()">
            <i class="bi bi-arrow-left-circle"></i> Save & Go Back
          </button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">
            <i class="bi bi-x-circle"></i> Cancel
          </button>
        </div>
      </div>

    </form>

  </div>

  <!-- Tab Content -->
 <div  *ngIf="showTable" class="col-md-12 mt-3">
  <div class="table-responsive">
    <table class="table table-bordered text-nowrap">
      <thead>
        <tr>
          <th>Actions</th>
          <th>New Material Code</th>
          <th>Old Material Code</th>
          <th>Material Description</th>
          <th>Serial Profile</th>
          <th>Existing EAN Code</th>
          <th>New EAN Code</th>
          <th>Is EAN Updated?</th>
        </tr>
        <tr>
          <th>
            <button type="button" class="btn btn-outline-secondary btn-sm p-2" style="width: 50px;">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search New Material Code"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search Old Material Code"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search Material Description"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search Serial Profile"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search Existing EAN Code"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search New EAN Code"></th>
          <th><input type="text" class="form-control form-control-sm" placeholder="Search Is EAN Updated?"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of materials">
          <td>
            <button type="button" class="btn btn-outline-secondary btn-sm">
              <i class="bi bi-pencil"></i>
            </button>
          </td>
          <td>{{ m.newMaterialCode }}</td>
          <td>{{ m.oldMaterialCode }}</td>
          <td>{{ m.materialDescription }}</td>
          <td>{{ m.serialProfile }}</td>
          <td>{{ m.existingEAN }}</td>
          <td>{{ m.newEAN }}</td>
          <td>{{ m.isUpdated }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</div>
</div>