/* @media (min-width: 768px) {
    .justify-content-md-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center!important;
        justify-content: center !important;
    }
}


.text-muted {
    color: #98a6ad !important;
}
.text-danger {
    color: #f36270 !important;
} */